APP_NAME=AI_EORA_BRAG_BOOK
ENVIRONMENT=development
LOG_LEVEL=DEBUG

OPENAI_API_KEY=
GENERATOR_MODEL_NAME=gpt-3.5-turbo
ROUTER_MODEL_NAME=gpt-3.5-turbo
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2

AI_PROVIDER=ollama
OLLAMA_MODEL_NAME=llama3
OLLAMA_BASE_URL=http://localhost:11434
